ARMTemplateForFactory.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Nombre de instancia de Data Factory",
            "defaultValue": "adf-ventas"
        },
        "AzureDatabricks_LinkedService_accessToken": {
            "type": "secureString",
            "metadata": "Cadena protegida para \"accessToken\"de \"AzureDatabricks_LinkedService\""
        },
        "AzureSynapseAnalytics1_password": {
            "type": "secureString",
            "metadata": "Cadena protegida para \"password\"de \"AzureSynapseAnalytics1\""
        },
        "datalakehouse_accountKey": {
            "type": "secureString",
            "metadata": "Cadena protegida para \"accountKey\"de \"datalakehouse\""
        },
        "AzureDatabricks_LinkedService_properties_typeProperties_existingClusterId": {
            "type": "string",
            "defaultValue": "1012-001337-6jboijwp"
        },
        "AzureSynapseAnalytics1_properties_typeProperties_server": {
            "type": "string",
            "defaultValue": "tcp:synapseventas1.sql.azuresynapse.net,1433"
        },
        "AzureSynapseAnalytics1_properties_typeProperties_database": {
            "type": "string",
            "defaultValue": "data_ventas"
        },
        "AzureSynapseAnalytics1_properties_typeProperties_userName": {
            "type": "string",
            "defaultValue": "sqladminuser"
        },
        "datalakehouse_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://datacsv03.dfs.core.windows.net/"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/pipeline1')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy clientes",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30
                        },
                        "userProperties": [
                            {
                                "name": "Source",
                                "value": "datalake/raw/clientes/clientes_fake.csv"
                            },
                            {
                                "name": "Destination",
                                "value": "datalake/curated/clientes/"
                            }
                        ],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "DelimitedTextSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextWriteSettings",
                                    "quoteAllText": true,
                                    "fileExtension": ".csv"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "raw_cliente",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "cur_cliente",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Copy empleados",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Copy clientes",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30
                        },
                        "userProperties": [
                            {
                                "name": "Source",
                                "value": "datalake/raw/empleados/empleados_fake.csv"
                            },
                            {
                                "name": "Destination",
                                "value": "datalake/curated/empleados/"
                            }
                        ],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "DelimitedTextSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextWriteSettings",
                                    "quoteAllText": true,
                                    "fileExtension": ".csv"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "raw_empleado",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "cur_empleados",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Copy Sucursal",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Copy empleados",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30
                        },
                        "userProperties": [
                            {
                                "name": "Source",
                                "value": "datalake/raw/sucursales/sucursales_fake.csv"
                            },
                            {
                                "name": "Destination",
                                "value": "datalake/curated/sucursales/"
                            }
                        ],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "DelimitedTextSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextWriteSettings",
                                    "quoteAllText": true,
                                    "fileExtension": ".txt"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "raw_sucursal",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "cur_sucursal",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Copy ventas",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Copy Sucursal",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30
                        },
                        "userProperties": [
                            {
                                "name": "Source",
                                "value": "datalake/raw/ventas/*.csv"
                            },
                            {
                                "name": "Destination",
                                "value": "datalake/curated/ventas/ventas_completo.csv"
                            }
                        ],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "wildcardFileName": "*.csv"
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "DelimitedTextSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings",
                                    "copyBehavior": "MergeFiles"
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextWriteSettings",
                                    "quoteAllText": true,
                                    "fileExtension": ".csv"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "raw_ventas",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "cur_ventas",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Ejecutar_Notebook_Gold",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "Copy ventas",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 30
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "notebookPath": "/Workspace/CURATED"
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks_LinkedService",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2025-10-16T19:16:26Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/raw_cliente')]",
                "[concat(variables('factoryId'), '/datasets/cur_cliente')]",
                "[concat(variables('factoryId'), '/datasets/raw_empleado')]",
                "[concat(variables('factoryId'), '/datasets/cur_empleados')]",
                "[concat(variables('factoryId'), '/datasets/raw_sucursal')]",
                "[concat(variables('factoryId'), '/datasets/cur_sucursal')]",
                "[concat(variables('factoryId'), '/datasets/raw_ventas')]",
                "[concat(variables('factoryId'), '/datasets/cur_ventas')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureDatabricks_LinkedService')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "datalakehouse",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": "servicios_fake.csv",
                        "folderPath": "raw/servicios",
                        "fileSystem": "datalake"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "service_key",
                        "type": "String"
                    },
                    {
                        "name": "service_type",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/datalakehouse')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "datalakehouse",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": "raw/servicios",
                        "fileSystem": "datalake"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "service_key",
                        "type": "String"
                    },
                    {
                        "name": "service_type",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/datalakehouse')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/cur_cliente')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "datalakehouse",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": "curated/clientes",
                        "fileSystem": "datalake"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/datalakehouse')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/cur_empleados')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "datalakehouse",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": "curated/empleados",
                        "fileSystem": "datalake"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/datalakehouse')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/cur_sucursal')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "datalakehouse",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": "curated/sucursales",
                        "fileSystem": "datalake"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/datalakehouse')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/cur_ventas')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "datalakehouse",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": "ventas_completo.csv",
                        "folderPath": "curated/ventas",
                        "fileSystem": "datalake"
                    },
                    "columnDelimiter": ",",
                    "encodingName": "UTF-8",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/datalakehouse')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/raw_cliente')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "datalakehouse",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": "clientes_fake.csv",
                        "folderPath": "raw/clientes",
                        "fileSystem": "datalake"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "customer_id",
                        "type": "String"
                    },
                    {
                        "name": "name",
                        "type": "String"
                    },
                    {
                        "name": "email",
                        "type": "String"
                    },
                    {
                        "name": "phone",
                        "type": "String"
                    },
                    {
                        "name": "city",
                        "type": "String"
                    },
                    {
                        "name": "signup_date",
                        "type": "String"
                    },
                    {
                        "name": "birth_date",
                        "type": "String"
                    },
                    {
                        "name": "gender",
                        "type": "String"
                    },
                    {
                        "name": "loyalty_level",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/datalakehouse')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/raw_empleado')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "datalakehouse",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": "empleados_fake.csv",
                        "folderPath": "raw/empleados",
                        "fileSystem": "datalake"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "employee_id",
                        "type": "String"
                    },
                    {
                        "name": "name",
                        "type": "String"
                    },
                    {
                        "name": "role",
                        "type": "String"
                    },
                    {
                        "name": "hire_date",
                        "type": "String"
                    },
                    {
                        "name": "branch_id",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/datalakehouse')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/raw_sucursal')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "datalakehouse",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": "sucursales_fake.csv",
                        "folderPath": "raw/sucursales",
                        "fileSystem": "datalake"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "branch_id",
                        "type": "String"
                    },
                    {
                        "name": "branch_name",
                        "type": "String"
                    },
                    {
                        "name": "city",
                        "type": "String"
                    },
                    {
                        "name": "address",
                        "type": "String"
                    },
                    {
                        "name": "open_hour",
                        "type": "String"
                    },
                    {
                        "name": "close_hour",
                        "type": "String"
                    },
                    {
                        "name": "status",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/datalakehouse')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/raw_ventas')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "datalakehouse",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": "raw/ventas",
                        "fileSystem": "datalake"
                    },
                    "columnDelimiter": ",",
                    "encodingName": "UTF-8",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "order_id",
                        "type": "String"
                    },
                    {
                        "name": "customer_id",
                        "type": "String"
                    },
                    {
                        "name": "employee_id",
                        "type": "String"
                    },
                    {
                        "name": "service_type",
                        "type": "String"
                    },
                    {
                        "name": "amount",
                        "type": "String"
                    },
                    {
                        "name": "sale_date",
                        "type": "String"
                    },
                    {
                        "name": "payment_method",
                        "type": "String"
                    },
                    {
                        "name": "branch_id",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/datalakehouse')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureDatabricks_LinkedService')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": "https://adb-3598455806290765.5.azuredatabricks.net",
                    "accessToken": {
                        "type": "SecureString",
                        "value": "[parameters('AzureDatabricks_LinkedService_accessToken')]"
                    },
                    "existingClusterId": "[parameters('AzureDatabricks_LinkedService_properties_typeProperties_existingClusterId')]",
                    "newCluster": {
                        "clusterVersion": "16.4.x-scala2.12",
                        "nodeType": "Standard_DS3_v2",
                        "numOfWorkers": 1,
                        "spark_conf": {
                            "spark.databricks.cluster.profile": "serverless"
                        },
                        "autotermination_minutes": 30
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureSynapseAnalytics1')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureSqlDW",
                "typeProperties": {
                    "server": "[parameters('AzureSynapseAnalytics1_properties_typeProperties_server')]",
                    "database": "[parameters('AzureSynapseAnalytics1_properties_typeProperties_database')]",
                    "encrypt": "True",
                    "trustServerCertificate": false,
                    "authenticationType": "SQL",
                    "userName": "[parameters('AzureSynapseAnalytics1_properties_typeProperties_userName')]",
                    "password": {
                        "type": "SecureString",
                        "value": "[parameters('AzureSynapseAnalytics1_password')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/datalakehouse')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('datalakehouse_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('datalakehouse_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        }
    ]
}